In [1]:
import os
from datetime import datetime
import time
from sklearn.preprocessing import StandardScaler
import plotly.express as px
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns
import math
import statsmodels.api as sm
from statsmodels.tsa.ar_model import AutoReg
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.seasonal import seasonal_decompose
from scipy import stats
from itertools import product
import warnings
warnings.filterwarnings("ignore")
import numpy as np # linear algebra
import pandas as pd

# Data Overview

## Import data

In [3]:
assetinfo = pd.read_csv("asset_details.csv")
ctrain = pd.read_csv("train.csv")

## Check asset information and create sorting reference

In [27]:
print(assetinfo)
print(ctrain.head())

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin
    timestamp  Asset_ID  Count        Open        High         Low  \
0  1514764860         2   40.0   2376.5800   2399.5000   2357.1400
1  1514764860         0    5.0      8.5300      8.5300      8.5300
2  1514764860         1  229.0  13835.1940  14013.8000  13666.1100
3  1514764860         5   32.0      7.6596      7.6596      7.6567
4  1514764860         7    5.0     25.9200     25.9200     25.8740

        Close       Volume          VWAP    Target
0   2374.5900    19.233005   2373.116392 -0.004218
1      8.5300    78.380000      8.530000 -0.014399
2  13850.1760    31.550062  13827.062093 -0.014643
3      7.6576  6626.713370      7.657713 -0.013922
4     25.8770   121.087310     25.891363 -0.008264

In [24]:
#define asset name dictionary and list for missing data summary

asset_names_dict = {row["Asset_Name"]:row["Asset_ID"] for ind, row in assetinfo.iterrows()}

asset_names = [
    'Bitcoin',
    'Ethereum',
    'Cardano',
    'Binance Coin',
    'Dogecoin',
    'Bitcoin Cash',
    'Litecoin',
    'Ethereum Classic',
    'Stellar',
    'TRON',
    'Monero',
    'EOS.IO',
    'IOTA',
    'Maker'
]

## Time overview

In [12]:
#btc = ctrain[ctrain["Asset_ID"]==1].set_index("timestamp") # Asset_ID = 1 for Bitcoin, set timestamp as index

In [25]:
time_list = []
for coin in asset_names:
    coin_df = ctrain[ctrain["Asset_ID"]==asset_names_dict[coin]].set_index("timestamp")
    beg_time = coin_df.index[0].astype('datetime64[s]')
    end_time = coin_df.index[-1].astype('datetime64[s]')
    time_list.append([coin, beg_time, end_time])
time_df = pd.DataFrame(time_list)
time_df.columns = ["Asset_Name", "Begin_Time", "End_Time"]
time_df

          Asset_Name          Begin_Time   End_Time
0            Bitcoin 2018-01-01 00:01:00 2021-09-21
1           Ethereum 2018-01-01 00:01:00 2021-09-21
2            Cardano 2018-04-17 09:11:00 2021-09-21
3       Binance Coin 2018-01-01 00:01:00 2021-09-21
4           Dogecoin 2019-04-12 14:34:00 2021-09-21
5       Bitcoin Cash 2018-01-01 00:01:00 2021-09-21
6           Litecoin 2018-01-01 00:01:00 2021-09-21
7   Ethereum Classic 2018-01-01 00:01:00 2021-09-21
8            Stellar 2018-02-16 23:53:00 2021-09-21
9               TRON 2018-02-06 21:37:00 2021-09-21
10            Monero 2018-01-01 00:01:00 2021-09-21
11            EOS.IO 2018-01-01 00:01:00 2021-09-21
12              IOTA 2018-05-09 08:07:00 2021-09-21
13             Maker 2018-05-10 15:21:00 2021-09-21

## Missing data overview

In [35]:
gap_list = []
for coin in asset_names:
    coin_df = ctrain[ctrain["Asset_ID"]==asset_names_dict[coin]].set_index("timestamp")
    gap_df = (coin_df.index[1:]-coin_df.index[:-1]).value_counts().reset_index() #针对每个币种，计算两个记录之间的时间差(计算结果有60s,120s,180s...),然后计算每种时间差的数量，并以时间差种类为index生成一个序列（索引/时间差/时间差个数）
    n_gaps = gap_df[gap_df["index"]!=60]["timestamp"].sum() #剔除时间差为60s的数据后，针对每个币种统计不同时间差的个数
    max_gap = gap_df["index"].max()
    gap_list.append([coin, n_gaps, max_gap])
gap_df = pd.DataFrame(gap_list)
gap_df.columns = ["Asset_Name", "number_of_gaps", "max_gap_in_seconds"]
gap_df

          Asset_Name  number_of_gaps  max_gap_in_seconds
0            Bitcoin             145                2400
1           Ethereum             156                7200
2            Cardano            9360                4800
3       Binance Coin            6600              120720
4           Dogecoin           76652                7260
5       Bitcoin Cash            2502                4380
6           Litecoin             291                5280
7   Ethereum Classic            4707                3780
8            Stellar           37770                8520
9               TRON           12225                3000
10            Monero          131837                3180
11            EOS.IO            1188                3960
12              IOTA          107741               10920
13             Maker           26497              281700

In [ ]:
missing_list = []
for coin in asset_names:
    coin_df = ctrain[ctrain["Asset_ID"]==asset_names_dict[coin]].set_index("timestamp")
    missing_list.append([coin, coin_df.shape[0]] + coin_df.isna().sum().tolist())
missing_df = pd.DataFrame(missing_list)
missing_df.columns = ["Asset_Name", "TotalRows", 'Missing_Asset_ID', 'Missing_Count', 'Missing_Open', 
                      'Missing_High', 'Missing_Low', 'Missing_Close', 'Missing_Volume', 'Missing_VWAP', 'Missing_Target']
missing_df

,Asset_Name,TotalRows,Missing_Asset_ID,Missing_Count,Missing_Open,Missing_High,Missing_Low,Missing_Close,Missing_Volume,Missing_VWAP,Missing_Target
0,Bitcoin,1956282,0,0,0,0,0,0,0,0,304
1,Ethereum,1956200,0,0,0,0,0,0,0,0,340
2,Cardano,1791867,0,0,0,0,0,0,0,0,18731
3,Binance Coin,1942619,0,0,0,0,0,0,0,0,13415
4,Dogecoin,1156866,0,0,0,0,0,0,0,0,144974
5,Bitcoin Cash,1953537,0,0,0,0,0,0,0,0,4861
6,Litecoin,1956030,0,0,0,0,0,0,0,0,521
7,Ethereum Classic,1951127,0,0,0,0,0,0,0,0,9326
8,Stellar,1778749,0,0,0,0,0,0,0,0,61816
9,TRON,1874560,0,0,0,0,0,0,0,0,21014
10,Monero,1701261,0,0,0,0,0,0,0,0,239603
11,EOS.IO,1955140,0,0,0,0,0,0,0,0,2302
12,IOTA,1592071,0,0,0,0,0,0,0,0,193106
13,Maker,670497,0,0,0,0,0,0,0,9,40025

# Data preprocessing

## Dealing with missing data

### Missing time

In [ ]:
#for coin in asset_names:
#    coin_df = ctrain[ctrain["Asset_ID"]==asset_names_dict[coin]].set_index("timestamp")
#    coin_df_step1 = coin_df.reindex(range(df.index[0],df.index[-1]+60,60), method="pad")

In [ ]:
def coin_t_sub(Asset_ID, data=ctrain):
    df= data[ctrain["Asset_ID"]==Asset_ID].set_index("timestamp")
    df=df.reindex(range(df.index[0],df.index[-1]+60,60), method="pad")
    return df